body {
    font-family: Roboto;
}

div ul{
    display: inline;
}

#play-info {
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#map {
    display: flex;
}

li a {
    display: inline;
    padding: 10px;
    text-decoration: none;
  }

div a {
    display: inline;
    text-decoration: none;
}

.card-title {
    font-size: 150px;
    text-align: center;
    margin-top: 375px;
}
.table {
    text-align: center;
}