body {
    height: 100%;
    width: 100%;
    /*background-image: url('../images/theater-image-background.png');*/
    background-repeat: no-repeat;
    background-size: px 400px;
    font-family: Roboto;
}

li {
    display: inline;
}

#first-links-list {
    display: inline;
    justify-content: flex-end;
}

#first-nav-bar {
    background-color: black;
    color: white;
    display: inline;
    list-style-type: none;
}

div ul{
    display: inline;
}

#featured-shows {
    display: flex;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#april-header {
    display: flex;
    text-align: center;
}

#play-info {
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

#map {
    display: flex;
}

#contact-info {
    display: flex;
    flex-direction: column;
}

#shows {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    display: inline;
    list-style-type: none;
}

#social {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    display: inline;
    list-style-type: none;
}

li a {
    display: inline;
    padding: 10px;
    text-decoration: none;
  }

div a {
    display: inline;
    text-decoration: none;
}

#read-more-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border: 1px solid black;
    color: black;
    padding: 10px 150px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

span {
    display: flex;
    flex-direction: row;
}

#title {
    display: flex;
    flex-direction: row;
}

#dates {
    display: flex;
    flex-direction: row;
}

#location {
    display: flex;
    flex-direction: row;
}

#price {
    display: flex;
    flex-direction: row;
}

.card-title {
    font-size: 150px;
    text-align: center;
}